header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



div.page-content {
    margin-top: 70px;
}


.overview-section {
    padding: 50px 100px 100px 100px;
    background-color: #B5C2B7;
}

.login-section {
    padding: 50px 100px 100px 100px;
    background-color: #8C93A8;
}


.nav-pills > li.nav-item > a.active {
    background-color: #732C7B;
    color: white;
    box-shadow: 3px 3px grey;
}

.nav-pills > li.nav-item > a:not(.active) {
    background: #9C8AA5;
    color: white;
    box-shadow: 3px 3px gray;
}



.tab-content {
    padding: 30px 30px 30px 30px;
    border-style: groove;
    border-radius: 20px;
    background-color: #B5C2B7;
}

.auth-err {
    color: red;
    opacity: 0.5;
    margin-bottom: 10px;
}

.alert {
    position: fixed;
    top: 70px;
    left: 25%;
    z-index: 100;
    height: 45px;
    width: 50%;
    text-align: center;
}


#nav-project-name {
    font-size: 30px;
}

#register-submit-btn {
    background-color: #732C7B;
}
