.input-email {
    background-color: blue;
}

.input-password {
    background-color: red;
}


.overview-section {
    padding: 50px 100px 100px 100px;
    background-color: #B5C2B7;
    z-index: 50;
    box-shadow: 5px 5px 20px rgb(97, 96, 96);
}

.login-section {
    padding: 50px 100px 100px 100px;
    background-color: #8C93A8;
}


.nav-pills > li.nav-item > a.active {
    background-color: #732C7B;
    color: white;
    box-shadow: 3px 3px grey;
}

.nav-pills > li.nav-item > a:not(.active) {
    background: #9C8AA5;
    color: white;
    box-shadow: 3px 3px gray;
}



.tab-content {
    padding: 30px 30px 30px 30px;
    border-style: groove;
    border-radius: 20px;
    background-color: #B5C2B7;
    box-shadow: 30px 20px 20px rgb(85, 84, 84);
}

.auth-err {
    color: red;
    opacity: 0.5;
    margin-bottom: 10px;
}

.features-item {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;

    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;

    box-shadow: 10px 10px 25px gray;
    z-index: 100;
    background-color: #8C93A8;
}

.features-img {
    border-radius: 10px;
    height: 100px;
}

.features-desc {
    margin-left: 20px;
    font-weight: bold;
    font-family: monospace;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#register-submit-btn, #login-submit-btn {
    background-color: #732C7B;
}
