<!DOCTYPE html>
<html lang="en">

<head>
    <title>Music Emotions Classifier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/styles/base.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- a page will inject any CSS or js file -->
    {% block head %} {% endblock %}

    <script src="/static/scripts/auth.js" async></script>

    <script>

        // removes all alerts after 5 seconds
        $(function(){ 
            setTimeout(function() {
                $('.alert').fadeOut('fast');
            }, 5000)
        });
    
    </script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #62466B;">

            <!-- if user is logged in, the image leads to dashboard, otherwise to login page -->
            {% if session.user %}
            <a id="nav-project-name" class="navbar-brand" href="/dashboard">
            {% else %}
            <a id="nav-project-name" class="navbar-brand" href="/">
            {% endif %}

                <img src="/static/resources/music_note.png" width="40" height="40"
                    alt="">
                Music Emotions Classifier
            </a>

            

            <ul class="nav navbar-nav" style="margin-left: auto;">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pricing">Pricing</a>
                </li>
                {% if session.user %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <div class="alert alert-danger" role="alert" style="display: none;"></div>
        <div class="alert alert-success" role="alert" style="display: none;"></div>

        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category, message in messages %}

                    {% if category == "error" %}
                    <div class="alert alert-danger">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    {% endif %}
                    {% if category == "success" %}
                    <div class="alert alert-success">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    {% endif %}

                {% endfor %}
            {% endif %}
        {% endwith %}
    </header>


    <div class="page-content">
        {% block body %} {% endblock %}
    </div>

</body>


<footer>
    <p>Created using Flask, TensorFlow, JavaScript, MySQL, and HTML/CSS</p>
</footer>

</html>