{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/dashboard.css">
<script src="/static/scripts/dashboard.js"></script>
{% endblock %}

{% block body %}

<script>

    function changeVid(url) {
        
        $('#video').attr('src', url);
    }

</script>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-7 library-section">

            <div id="songs-viewer">

                {% for emot in songs %}

                    {% if songs[emot]|length > 0 %}

                        <div class="card">
                            <div class="card-header card-link" href="#{{emot}}" data-toggle="collapse">
                                    {{ emot }}
                            </div>

                            <div id="{{ emot }}" class="collapse" data-parent="#songs-viewer">
                                <div class="card-body">
                                    <ul style="list-style-type: none;">
                                        {% for song in songs[emot] %}
                                            <li class="video-item">
                                                
                                                {{ song.title }}

                                                <button type="button" class="btn btn-default show-vid-btn" onclick="changeVid('{{ song.url }}')">
                                                    <i class="material-icons">
                                                        arrow_forward
                                                    </i>
                                                </button>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    {% else %}

                        <h3>You have no songs in your library, try adding some to the right</h3>

                    {% endif %}


                {% endfor %}

            </div>
        </div>

        <div class="col-md-5 video-section">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button id="add-song-btn" class="btn btn-outline-primary" type="button">Add song</button>
                </div>
                <input type="text" id="add-song-input" class="form-control" placeholder="Enter youtube URL">
            </div>

            <iframe id="video" src="" width="500" height="300" frameborder="0"></iframe>

        </div>

    </div>

</div>

{% endblock %}