<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Music Emotions Classifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/home_page.css" />
</head>

<body>

    <header>

        <div id="test">
            <nav id="nav-bar">

                <a href="/test" class="nav-link">Test link</a>

            </nav>
        </div>
    </header>

    <h1>hi</h1>
    <h2>bye</h2>

</body>

</html>