{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/pricing.css">
{% endblock %}


{% block body %}

<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Free plan</h4>
                <p class="card-text">
                    This is a free plan
                </p>



                <div class="card-header">
                    FEATURES
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        feature 1
                    </li>
                    <li class="list-group-item">
                        feature 2
                    </li>
                </ul>

                <div class="card-footer">
                    <button type="button">button</button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Free plan</h4>
                <p class="card-text">
                    This is a free plan
                </p>

                <div class="card-footer">
                    <button type="button">button</button>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Free plan</h4>
                <p class="card-text">
                    This is a free plan
                </p>

                <div class="card-footer">
                    <button type="button">button</button>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}